
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">Home</a>
          <a class="nav-link active" aria-current="page" href="/orders">Orders</a>
          <a class="nav-link" href="/users">Users</a>
          <a class="nav-link" href="/contacts">Contacts</a>
          <a class="nav-link" href="/products">Products</a>
          <a class="nav-link" href="/recipeofthemonth/index">Recipe Of The Month</a>
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
              <a class="nav-link" href="/logout">Logout</a>
            {% else %}
              <a class="nav-link" href="/login">Log in</a>
          {% endif %}
   </div>
</nav>