{% extends 'base.html.twig' %}

{% block title %}Edit Recipe Of The Month{% endblock %}

{% block body %}
    <h1>Edit RecipeOfTheMonth</h1>

    {{ include('recipe_of_the_month/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_recipe_of_the_month_index') }}" class="btn btn-success">back to list</a>

    {{ include('recipe_of_the_month/_delete_form.html.twig') }}
{% endblock %}
