{% extends 'base.html.twig' %}

{% block title %}New Recipe Of The Month{% endblock %}

{% block body %}
    <h1>Create new RecipeOfTheMonth</h1>

    {{ include('recipe_of_the_month/_form.html.twig') }}

    <a href="{{ path('app_recipe_of_the_month_index') }}" class="btn btn-success">back to list</a>
{% endblock %}
