.rotm-container{
    background-color: #FEF0EE;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotm{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-bespoke-page{
    text-decoration: underline;
    text-underline-offset: 4px;
}

.bespoke-img{
    display: flex; 
    justify-content: center;
}

.img-ROTM {
    margin: 10;
    border-radius: 10px
}