.herobanner-container {
    position: relative;
    margin: 3% 0 3% 0;
}

.herobanner-image {
    height: 30%;
    width: 100%;
}

.herobanner-text {
    position: absolute;
    font-size: 5vw;
    transform: translate(12%, -118%);
    color: white;
    width: 100%;
}
