

.navbar {
    padding: 0;
}

#header-top {
    background-color: rgba(254, 240, 238, 1);
    width: 100%;
}

#logo {
    border-radius: 50%;
    margin: 1rem 5rem 1rem 5rem;
}

.title {
    font-size: 2rem;
    margin: 0;
}

#black-line {
    background-color: black;
    height: 0.1rem;
    width: 90%;
}

#black-line-logo {
    background-color: black;
    height: 0.1rem;
    width: 70%;
}

