@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Nanum+Gothic&display=swap');


html,body{
  overflow-x: hidden;
}

.main-title {
  font-family: "Benne", serif;
  font-weight: 400;
  font-style: normal;
  word-spacing: 25px;
  margin: revert;
}

main {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
}

.herobanner-text {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
}

.home-paragraph, .ROTM-paragraph {
  text-align: center;
  margin: 0 15px 0px 15px;
}

/* Product Card */

#title-product-page {
  position: 'absolute';
  color: 'white';
  text-decoration: 'underline';
  z-index: '1'
}

