
#logo {
    border-radius: 50%;
    margin: 1rem 5rem 1rem 5rem;
}

#header-top {
    background-color: rgba(254, 240, 238, 1);
    width: 100%;
}

.navbar {
    padding: 0;
}

@media only screen and (max-width: 768px) {

.main-title {
    position: relative;
}

}
 

/* Desktop */

@media only screen and (min-width: 769px) {

    .black-line-logo {
        display: none;
    }

    .main-title {
        position: absolute;
        word-spacing: 16rem;
    }

    #header-logo {
        position: relative
    }
}